nav {
   background: rgb(168, 228, 228);
   position: fixed;
   top: 0;
   width: 100%;
   display: table;
   z-index: 5000;
}

.header_Inner {
   display: table;
   margin: 0 auto;
   overflow: hidden;
   text-align: center;
   width: 100%;
}

.header_Img {
   display: table-cell;
   vertical-align: middle;
   margin-left: 10px;
}

.header_Text {
   color: black;
   display: table-cell;
   vertical-align: middle;
}

.submenu {
   position: absolute;
   z-index: 5000;
   min-width: 200px;
   background: white;
   border-top: 1px solid #CBCBCC;
   border-left: 1px solid #CBCBCC;
   border-right: 1px solid #CBCBCC;
   visibility: hidden;
   opacity: 0;
   transform-origin: 0% 0%;
   transform: rotateX(-90deg);
   transition: .3s linear;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);
* {
   box-sizing: border-box;
}

body {
   margin: 0;
}

nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

nav ul:after {
   content: "";
   display: table;
   clear: both;
}

nav a {
   text-decoration: none;
   display: block;
   transition: .3s linear;
}

.topmenu>li {
   float: center;
   position: relative;
   border-left: 1px solid black;
}

.topmenu>li:first-child {
   border-left: 0;
}

.topmenu>li>a {
   padding: 8px 10px;
   font-size: 12px;
   text-transform: uppercase;
   color: #FEFDFD;
   letter-spacing: 2px;
}

.topmenu>li>a.active, .submenu a:hover {
   color: black;
}

.topmenu .fa, .submenu .fa {
   margin-left: 5px;
   color: inherit;
}

.submenu li {
   position: relative;
}

.submenu li a {
   color: #282828;
   padding: 10px 20px;
   font-size: 13px;
   border-bottom: 1px solid #CBCBCC;
}

.submenu .submenu {
   position: absolute;
   left: 100%;
   top: -1px;
   transition: .3s linear;
   z-index: 5000;
   opacity: 1;
}

nav li:hover>.submenu {
   transform: rotateX(0deg);
   visibility: visible;
   opacity: 1;
   z-index: 5000;
   opacity: 1;
}

.T_1 {
   /*z-index: -10000;
   background: rgb(168, 228, 228);
   position: fixed;*/
   top: 0;
}

.T_2 {
   z-index: 1;
   /*background: brown;*/
   position: fixed;
   top: 10px;
}