/*
html, body {
   margin-left: 1px;
   margin-right: 1px;
   padding: 0px;
   height: 98%;
   font-size: 14px;
   font-weight: 600;
}
*/

* {
   margin: 0;
   padding: 0;
}

html, body {
   margin-left: 2px;
   margin-right: 5px;
   height: 95%;


   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 14px;
}

.content {
   flex: 70 10 auto;
   min-height: 100%;
   margin-top: 60px;
}

/*****footer****/

footer {
   flex: 0 0 auto;
}

.f_table1 {
   background: rgb(168, 228, 228);
   border: 0px solid rgb(0, 141, 141);
   width: 100%;
}

.f_table2 {
   border: 0px solid rgb(0, 141, 141);
   text-align: right;
   font-size: 9px;
}

/*****footer****/


.space {
   padding: 20px;
   /* Поля 
   background: #E5D3BD;*/
   /* Цвет фона */
   border: 2px solid black;
   /* Параметры рамки */
   height: 200px;
   font-size: 20px;
   font-weight: bold;
}

table {
   /*  background: white;
   Цвет фона таблицы */
   color: black;
   /* Цвет текста 
   border: 1px solid black;*/
   width: 100%;
}

.td_t0{
   min-width: 200px;
   width: 200px;
}
.td_t1 {
   width: 90%;
   min-width: 400px;
}
.td_t2 {
   min-width: 200px;
   padding-top: 10px;
   vertical-align: top;
}

.date_h, .comboBox {
   width: 100%;
}

td, th, tr {
   /*background: maroon;  Цвет фона ячеек */
   padding: 0px;
   /* Поля вокруг текста 
   border: 1px solid black;  */
}

.tr_char {
   border: 1px solid rgb(20, 199, 190);
}

.td_Name {
   font-size: 12px;
}


select {
   background: rgb(238, 255, 0);
}
.select_1 {
   background:rgb(238, 255, 0);
}
.select_2 {
   background: rgb(238, 255, 0);
}.select_3 {
   background: rgb(238, 255, 0);
}

/********************************************/
a{
   font-size: 6px;
}
